title: "Who is Janis?"
layout: default.liquid
data:
  route: about
---
<img class="me-image" src="/img/me.jpg" />

<h1>Richard Janis Goldschmidt</h1>
Call me Janis. My main interests are the following:

<p class="clearfix">
I am a PhD in Complex Systems at the Universities of Potsdam, DE, and Aberdeen, Scotland. I write simulations to study exotic states in
the <a href="https://en.wikipedia.org/wiki/Kuramoto_model">Kuramoto model</a>,
and I study the computational power of Recurrent Neural Networksa. You can find
my researcher profile on the
<a href="http://www.uni-potsdam.de/cosmos-itn/people/early-stage-researchers-esrs/janis-goldschmidt/">COSMOS project webpage</a>.
</p>

<p class="clearfix">
I also work on Computational Social Science. Together with <a href="https://www.su.se/english/profiles/tgold-1.191361">Tina Goldschmidt</a>,
we are looking at how manifestations of prejudice evolve in media coverage over time. This involves a lot of webscraping and natural language processing.
We are jointly responsible for project 3 of FORTE grant 2016-07177 in “The Evolution of Prejudice” consortium based at Umeå University in North Sweden.
</p>

<p class="clearfix">
I am cofounder and software engineer at <a href="https://www.stokebrain.com/">Stoke Brain</a>. We are an early stage startup working on
accelerating non-invasive brain stimulation. If you want to know more, get in touch.
</p>

<p class="clearfix">
<img class="about-icon" src="/img/rust.svg" />
My main programming language is Rust, and I have written some libraries in it. Check them out:
<ul>
    <li><a href="https://github.com/SuperFluffy/rust-freude">ODE integration with freude</a>;</li>
    <li><a href="https://github.com/SuperFluffy/gramschmidt-rs">Performing QR factorization and orthogonalization with Gram Schmidt</a>.</li>
</ul>
</p>
