<nav class="menu">
  <a class="menu-item {% if page.data.route == "about"%}current{%endif%}" href="/about/">Janis</a>
  {% comment %} <a class="menu-item {% if page.data.route == "blog"%}current{%endif%}" href="/">Blog</a> {% endcomment %}
  <a class="menu-item icon" href="http://github.com/superfluffy"><i class="fa fa-github-square"></i></a>
  {% comment %} <a class="menu-item icon" href="/rss.xml"><i class="fa fa-rss-square"></i></a> {% endcomment %}
  <hr>
</nav>
